// Login Page

#login {
  background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url('../../../../assets/img/gallery/book-791824_1920.jpg');
  opacity: 0.9;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .login-img {
    padding: 0;
    background: #f0f0f0;
  }

  .login-btn {
    .btn.btn-outline-primary {
      &:hover {
        a {
          color: #fff;
        }
      }
    }
  }

  .recover-pass {
    button.btn.btn-primary {
      color: #fff !important;
    }

    .btn.btn-success {
      &:hover {
        background-color: rgb(12, 153, 36);
        color: white;
      }
    }
  }

  .forgot-password-option,
  .remember-me {
    a.text-decoration-none,
    .custom-control-label {
      font-size: 14px;
    }
  }
}