<div id="main-wrapper">
  <!-- ============================================================== -->
  <!-- Top header  -->
  <!-- ============================================================== -->
  <div class="header header-light shadow">
      <nav class="navbar navbar-expand-lg navbar-light none-shadow">
        <div class="nav-header">
          <a class="nav-brand" href="#">
            <img src="../../../../assets/img/texto_y_logo.png" class="logo" alt="" />
          </a>
          <div class="nav-toggle"></div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <div class="form-inline my-2 my-lg-0 align-to-right">
            <button class="btn btn-outline-warning my-2 my-sm-0 mr-sm-2" type="button"[routerLink]="['/register']">Sign Up</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" [routerLink]="['/login']">Login</button>
          </div>
        </div>
      </nav>

      
      <!-- <nav id="navigation" class="navigation navigation-landscape">
        <div class="nav-header">
          <a class="nav-brand" href="#">
            <img src="../../../../assets/img/texto_y_logo.png" class="logo" alt="" />
          </a>
          <div class="nav-toggle"></div>
        </div>
        <div class="nav-menus-wrapper" style="transition-property: none;">
          <ul class="nav-menu">
            <li class="active"><a href="#">Home<span class="submenu-indicator"></span></a>
              <ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
                <li><a href="#">Niche Homepages<span class="submenu-indicator"></span></a>
                  <ul class="nav-dropdown nav-submenu" style="display: none;">
                    <li><a href="index.html">Startup</a></li>
                    <li><a href="business.html">Business</a></li>
                    <li><a href="agency.html">Agency</a></li>
                    <li><a href="seo-smo.html">SEO / SMO</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav-menu nav-menu-social align-to-right">
            <li class="add-listing theme-bg">
              <a [routerLink]="['/register']">Sign Up</a>
            </li>
            <li class="add-listing theme-sc">
              <a [routerLink]="['/login']">Login</a>
            </li>
          </ul>

        </div>
      </nav> -->
  </div>
  <div class="clearfix"></div>
  <!-- ============================================================== -->
  <!-- Top header  -->
  <!-- ============================================================== -->

  <!-- ============================ Hero Banner  Start================================== -->
  <div class="hero-banner dark">

    <div class="hero-img">
      <img src="../../../../assets/img/lib.jpg" class="img-responsive" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col col-lg-8 col-md-9 col-sm-12">
          <div class="content light">
            <h1>Learn spanish <span class="theme-cl">fast</span> and <span class="theme-cl">fluid</span></h1>
            <p class="lead-i">Intensive program to learn to speak spanish in an interactive way</p>
            <div class="btn-wrap mt-4">
              <a href="#" class="btn btn-info btn-rounded btn-lg">Find Out More</a>
              <a href="#" data-toggle="modal" data-target="#popup-video" class="btn-trans-video ml-2"><i
                  class="ti-control-play"></i>Watch Video</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="clearfix"></div>
  <!-- ============================ Hero Banner End ================================== -->

  <!-- ============================ Our Value Start ================================== -->
  <section>
    <div class="container">

      <div class="row">
        <div class="col text-center">
          <div class="sec-heading mx-auto">
            <h2>Why speak spanish</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 mb-4">
          <div class="middle-icon-features" data-aos="fade-up" data-aos-duration="1200">
            <div class="middle-icon-features-item">
              <div class="middle-icon-large-features-box f-light-warning"><i class="ti-ruler-pencil"></i></div>
              <div class="middle-icon-features-content">
                <h4>Easy learning</h4>
                <p>Learning Spanish intensively has never been so easy</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 mb-4">
          <div class="middle-icon-features" data-aos="fade-up" data-aos-duration="1200">
            <div class="middle-icon-features-item">
              <div class="middle-icon-large-features-box"><i class="ti-world"></i></div>
              <div class="middle-icon-features-content">
                <h4>Top 5</h4>
                <p>Spanish is in the top 5 most spoken languages ​​in the world</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 mb-4">
          <div class="middle-icon-features" data-aos="fade-up" data-aos-duration="1200">
            <div class="middle-icon-features-item">
              <div class="middle-icon-large-features-box f-light-success"><i class="ti-location-pin"></i></div>
              <div class="middle-icon-features-content">
                <h4>Speak for the world</h4>
                <p>Spanish will allow you to speak in too many countries with ease</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
          <a class="btn btn-primary btn-lg btn-rounded" href="#">See More Services<i
              class="ml-2 ti-arrow-right"></i></a>
        </div>
      </div>

    </div>
  </section>
  <div class="clearfix"></div>
  <!-- ============================ Our Value End ================================== -->

  <!-- ============================ Counter Start ================================== -->
  <section class="image-bg default-bg" style="background:#003b77 url('../../../../assets/img/pattern.png') repeat;">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="sec-heading light mx-auto">
            <h2>Spanish language in the world</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="count-box text-center">
            <h2 class="count">400</h2>
            <h5>Million people have Spanish as their mother tongue</h5>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="count-box text-center">
            <h2 class="count">2</h2>
            <h5>Most spoken language in the world
            </h5>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="count-box text-center">
            <h2 class="count">20</h2>
            <h5>Countries have spanish as their official language</h5>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="count-box text-center">
            <h2 class="count">45</h2>
            <h5>Millions of spanish speakers worldwide</h5>
          </div>
        </div>
      </div>

    </div>
    <div class="ht-80"></div>
  </section>
  <div class="clearfix"></div>
  <!-- ============================ Counter End ================================== -->

  <!-- ============================ Features Start ================================== -->
  <section class="pd-0 overlay-top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-12">
          <div class="row mrg-0 bg-white box-shadow pt-5 border--radius">

            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="large-features-2 style-1 shadow-0 border-0">
                <div class="large-features-2-thumb">
                  <img src="https://via.placeholder.com/300x300" class="img-responsive" alt="" />
                </div>
                <div class="large-features-2-detail">
                  <h4>Market Analysis</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="large-features-2 style-1 shadow-0 border-0">
                <div class="large-features-2-thumb">
                  <img src="https://via.placeholder.com/300x300" class="img-responsive" alt="" />
                </div>
                <div class="large-features-2-detail">
                  <h4>Email Marketing</h4>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="large-features-2 style-1 shadow-0 border-0">
                <div class="large-features-2-thumb">
                  <img src="https://via.placeholder.com/300x300" class="img-responsive" alt="" />
                </div>
                <div class="large-features-2-detail">
                  <h4>Keyword Analysis</h4>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="large-features-2 style-1 shadow-0 border-0">
                <div class="large-features-2-thumb">
                  <img src="https://via.placeholder.com/300x300" class="img-responsive" alt="" />
                </div>
                <div class="large-features-2-detail">
                  <h4>Content Marketing</h4>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <!-- ============================ Features Start ================================== -->

  <!-- ============================ Service list Start ================================== -->
  <section>
    <div class="container">

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h2>Why <span class="theme-cl">Spanish Immersion Program?</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <ul class="list-style style-1">
            <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</li>
            <li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
            <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</li>
            <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiism</li>
            <li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
            <li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
          </ul>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          <img src="../../../../assets/img/students.jpg" class="img-fluid mx-auto" alt="" data-aos="fade-right"
            data-aos-duration="1200">
        </div>

      </div>

    </div>
  </section>
  <div class="clearfix"></div>
  <!-- ============================ Service list End ================================== -->

  <!-- ============================ Video Start ================================== -->
  <section class="cover height-80 imagebg text-center" data-overlay="5">
    <div class="bg-img-holder" style="background: url(https://via.placeholder.com/1920x900); opacity: 1;">
      <img alt="background" src="https://via.placeholder.com/1920x900">
    </div>
    <div class="container pos-vertical-center">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-8 ">
          <h1 class="mb-4">
            Streamline your workflow with Unico
          </h1>

          <div class="video-block">
            <div class="video-play-icon modal-trigger">
              <a href="#" data-toggle="modal" data-target="#popup-video"><i class="fa fa-play"
                  aria-hidden="true"></i></a>
            </div>
          </div>
          <a class="btn btn-primary border--radius mt-2" href="#">
            <span class="btn__text">
              View The Demos
            </span>
          </a>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <!-- ============================ Video End ================================== -->

  <!-- ============================ Our Prices Start ================================== -->
  <section>
    <div class="container">

      <div class="row">
        <div class="col text-center">
          <div class="sec-heading mx-auto">
            <h2>Our Best Pricing Plan</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="pricing-wrap pricing-1 mb-4">
            <div class="pricing-header">
              <div class="package-type">
                <p>Basic</p>
              </div>
              <div class="package-price">
                <h2><sup>$</sup>70<sub>/Month</sub></h2>
              </div>
            </div>
            <div class="pricing-detail">
              <ul>
                <li><span>10 Video Upload</span></li>
                <li><span>2 Messages</span></li>
                <li><span>5 Contact</span></li>
                <li><span>3 GB Data</span></li>
                <li class="disable"><span>Unlimited Time</span></li>
                <li class="disable"><span>Trial 14 Days</span></li>
              </ul>
            </div>
            <div class="buy-now">
              <a href="#" class="buy-btn">Get Started</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="pricing-wrap pricing-1 featured-price mb-4">
            <div class="pricing-header">
              <div class="package-type">
                <p>Standard</p>
              </div>
              <div class="package-price">
                <h2><sup>$</sup>149<sub>/Month</sub></h2>
              </div>
            </div>
            <div class="pricing-detail">
              <ul>
                <li><span>20 Video Upload</span></li>
                <li><span>4 Messages</span></li>
                <li><span>10 Contact</span></li>
                <li><span>10 GB Data</span></li>
                <li><span>Unlimited Time</span></li>
                <li class="disable"><span>Trial 14 Days</span></li>
              </ul>
            </div>
            <div class="buy-now">
              <a href="#" class="buy-btn">Get Started</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="pricing-wrap pricing-1 mb-4">
            <div class="pricing-header">
              <div class="package-type">
                <p>Ultimate</p>
              </div>
              <div class="package-price">
                <h2><sup>$</sup>199<sub>/Month</sub></h2>
              </div>
            </div>
            <div class="pricing-detail">
              <ul>
                <li><span>50 Video Upload</span></li>
                <li><span>20 Messages</span></li>
                <li><span>20 Contact</span></li>
                <li><span>30 GB Data</span></li>
                <li><span>Unlimited Time</span></li>
                <li><span>Trial 14 Days</span></li>
              </ul>
            </div>
            <div class="buy-now">
              <a href="#" class="buy-btn">Get Started</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <div class="clearfix"></div>

  <!-- Testimonios -->
  <!-- ============================ Our Testimonial Start ================================== -->
  <hr class="brd">
  <section>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="sec-heading mx-auto">
            <h2>What People Say's</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="testimonial-wrap" data-aos="fade-down" data-aos-duration="1200">
            <i class="fa fa-quote-left"></i>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              deleniti atque corrupti quos dolores et quas molestias excepturi dignissimos ducimus qui blanditiis
              praesentium voluptatum deleniti.</p>

            <div class="client-thumb-box">
              <div class="client-thumb-content">
                <div class="client-thumb">
                  <img src="https://via.placeholder.com/400x400" class="img-responsive img-circle" alt="">
                </div>
                <h5 class="mb-0">Adam Gillworm</h5>
                <span class="small-font">Founder Of Apple</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="testimonial-wrap active" data-aos="fade-up" data-aos-duration="1200">
            <i class="fa fa-quote-left"></i>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              deleniti atque corrupti quos dolores et quas molestias excepturi dignissimos ducimus qui blanditiis
              praesentium voluptatum deleniti.</p>

            <div class="client-thumb-box">
              <div class="client-thumb-content">
                <div class="client-thumb">
                  <img src="https://via.placeholder.com/400x400" class="img-responsive img-circle" alt="">
                </div>
                <h5 class="mb-0">Lilly Wilgorm</h5>
                <span class="small-font">Founder Of Aziro Soft</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="testimonial-wrap" data-aos="fade-down" data-aos-duration="1200">
            <i class="fa fa-quote-left"></i>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              deleniti atque corrupti quos dolores et quas molestias excepturi dignissimos ducimus qui blanditiis
              praesentium voluptatum deleniti.</p>

            <div class="client-thumb-box">
              <div class="client-thumb-content">
                <div class="client-thumb">
                  <img src="https://via.placeholder.com/400x400" class="img-responsive img-circle" alt="">
                </div>
                <h5 class="mb-0">Rush Willium</h5>
                <span class="small-font">App Developer</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <div class="clearfix"></div>
  <!-- ============================ Our Prices End ================================== -->

  <!-- ============================ company-brand ================================== -->
  <section class="company-brand">
    <div class="container">

      <div class="row">

        <div class="owl-carousel" id="company-brand">

          <!-- Single Company Brand -->
          <div class="item">
            <img src="https://via.placeholder.com/220x120" alt="">
          </div>

          <!-- Single Company Brand -->
          <div class="item">
            <img src="https://via.placeholder.com/220x120" alt="">
          </div>

          <!-- Single Company Brand -->
          <div class="item">
            <img src="https://via.placeholder.com/220x120" alt="">
          </div>

          <!-- Single Company Brand -->
          <div class="item">
            <img src="https://via.placeholder.com/220x120" alt="">
          </div>

          <!-- Single Company Brand -->
          <div class="item">
            <img src="https://via.placeholder.com/220x120" alt="">
          </div>

          <!-- Single Company Brand -->
          <div class="item">
            <img src="https://via.placeholder.com/220x120" alt="">
          </div>

          <!-- Single Company Brand -->
          <div class="item">
            <img src="https://via.placeholder.com/220x120" alt="">
          </div>

        </div>

      </div>

    </div>
  </section>
  <div class="clearfix"></div>
  <!-- ============================ company-brand End ================================== -->

  <!-- ============================ Footer Start ================================== -->
  <footer class="bg-cover skin-dark-footer" style="background:#0d1527 url('../../../../assets/img/app1.png') no-repeat">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-widget">
              <h4 class="widget-title">Get in Touch</h4>
              <p>ColomColombia, CO 17002</p>
              <p>support@sip.com</p>
              <p>777-444-2222</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-widget">
              <h4 class="widget-title">Follow Us</h4>
              <ul class="footer-bottom-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <form class="signup-frm mt-4">
                <input type="email" class="form-control sigmup-me" placeholder="Your Email Address"
                  required="required">
                <button type="submit" class="btn btn-primary"><i class="ti-arrow-right"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12 col-md-12 text-center">
            <p class="mb-0">© 2020</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ============================ Footer End ================================== -->

  <!-- Video Modal -->
  <div class="modal fade" id="popup-video" tabindex="-1" role="dialog" aria-labelledby="popup-video"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <iframe class="embed-responsive-item" width="100%" height="480" src="https://www.youtube.com/embed/0pmBG49XEc4"
        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
  <!-- End Video Modal -->
</div>